.navX{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.navX a{
  width: 10%;
  text-decoration: none;
}
.navX p{
  color: white;
  font-weight: bold;
}
.navY{
  background-color: black;
  display: block;
  height: 130px;
  width: 10%;
  height: 100%;
  position: absolute;
}
.section-nav{
  display: grid;
  padding: 1rem;
  text-align: center;
}
.logo_img{
  width: 100%;
}
.navY p{
  transform: rotate(270deg);
  color: white;
}